*~
__pycache__

ui/widgets/**
!ui/widgets/__init__.py

*.sw[po]
.idea
xcuserdata

.cache
resources/test/protege/testcampaign.dmc
resources/test/protege/testlibrary.dml
resources/test/badsessiondata.dmc

*.iml
/android/.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
/android/build
/android/captures
/android/.externalNativeBuild
/android/app/build

doc/src
doc/html

# Automated generated icons from SVG
resources/icons/castle.png
resources/icons/d20.png
resources/icons/geographic.png
resources/icons/grid.png
resources/icons/maps.png
resources/icons/network.png
resources/icons/political.png
