*~
__pycache__

ui/widgets/**
!ui/widgets/__init__.py

*.sw[po]
.idea
xcuserdata

.cache

resources/test/protege/testcampaign.dmc
resources/test/protege/testlibrary.dml
resources/test/badmeta.dmc

*.iml
/android/.gradle
/android/local.properties
/android/.idea/workspace.xml
/android/.idea/libraries
/android/build
/android/captures
/android/.externalNativeBuild
/android/app/build

doc/src
doc/html

/build/
/dist/
